body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.container {
	height: 500px;
	width: 1000px;
	display: flex;
}

.col1 {
	outline: solid blue;
	overflow: hidden;
	height: 500px;
	width: 50%;
}
.col2 {
	outline: solid red;
	height: 500px;
	width: 50%;
	position: relative;
}
