/* Pokedex -- https://dribbble.com/shots/6540871-Pokedex-App/attachments/6540871-Pokedex-App?mode=media */

:root{
    --color-primary:#5B2A86;
    --color-secondary:#A5E6BA;
    --color-grey:#9AC6C5;
    --color-text:#FAF9F6;
    --color-label:#e2e1e9;
    --color-label-dark: #0f0e0e;
}

*{
    margin: 0;
    padding:0;
    list-style-type: none;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center ;
    align-items: center;
    background: var(--color-grey);
    
}

.pokedex--header-controls{
    outline: solid red 1px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:center ;
    margin-top: 20px;
    padding:0 1.5rem 0 1.5rem;
}

.pokedex-container{
    margin: ;
    outline: solid blue 1px;
    border-radius: 10px;
    height: 800px;
    width: 500px;
    background:var(--color-label);
}

#inp-searchbox{
position: relative;
right: 0;
width: 80%;
height: 30px;
}
.pokemon--header{
    outline: solid red 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center ;
    margin-top: 20px;
    padding:0 1.5rem 0 1.5rem;
}

/* span.invisible-matter{
    display: none;
} */

/* div.invisible-matter>input{
    display: none;
} */